html {
    scroll-snap-stop: always;
}


body {
    background-color: rgb(200,199,160);
    font: "black";
    margin: 0;
    height: 100%;

    overflow:hidden;
}


#overlay {
    position: fixed;
    display: block;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    align-content: center;
    justify-items: center;

    color: white;
    font-size: 50px;
    border: 2px solid;
    border-radius: 25px;
    border-color: black

}